/* #region RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion */

/* #region COMMON */

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 60px 0;
}

/* #endregion */

/* #region BODY */

body {
  padding-top: 70px;
}

/* #endregion */

/* #region HEADER */

header .container.nopadd {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

#logo {
  width: 140px;
}

header nav #logo img {
  width: 100%;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ff6900;
  color: white;
  z-index: 99;
  box-shadow: 1px 1px 20px black;
}

.site-header .nav,
.site-header .icons {
  width: 20%;
}

.site-header .icons {
  text-align: end;
}

.site-header ul li,
footer .left-footer ul li,
footer .right-footer ul li {
  all: unset;
}

.site-header .nav ul li,
footer .left-footer ul li {
  margin-right: 10px;
}

.site-header .icons ul li,
footer .right-footer ul li {
  margin-left: 10px;
}

.site-header ul li a,
footer .left-footer ul li a,
footer .right-footer ul li a {
  color: white;
  text-decoration: none;
}

/* #endregion */

/* #region MAIN */

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  width: calc((100% - 40px) / 3);
  position: relative;
  top: 0;
  left: 0;
}

main .products-container .product img {
  display: block;
  width: 100%;
  transition: opacity 0.5s ease;
}

main .products-container .product .product-image img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

main .products-container .product-image:hover img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.info-box,
.info-product,
.red-text,
.heart {
  z-index: 2;
}

.info-box {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 106px;
  color: white;
  font-weight: bold;
}

.p5 {
  padding: 5px;
}

.sconto {
  background-color: #ff0000;
  margin-right: 5px;
}

.sostenibilita {
  background-color: #008000;
}

main .info-product h2 {
  font-size: 16px;
}

.red-text {
  color: red;
}

.line-through {
  text-decoration: line-through;
  color: black;
}

.heart {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: white;
  padding: 15px;
}

.heart:hover {
  cursor: pointer;
}

.heart:hover i {
  color: red;
}

/* #endregion */

/* #region FOOTER */

footer {
  background-color: #1a1a1a;
  border-bottom: 2px solid white;
}

.left-footer h3,
.right-footer h3 {
  color: white;
  margin-bottom: 10px;
}

footer .container.flex {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

/* #endregion */
